.email {
	border: none;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ac86f8;
	color: white;
	font-weight: 600;
	width: 100%;
}

.notification {
	border: none;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #6b37d4;
	color: white;
	font-weight: 600;
	width: 100%;
}
